{% extends "home.html" %}

{% block list %}
    <div class="product centr__product">
        <div class="title">
            <p class="text__title">SUIT</p>
            <p class="text__subtitle">Shop for items based on what we featured in this week</p>
        </div>
        <div class="list__product">
            <div class="card__product">
                <img src="../static/img/product/product_1.png" alt="img" class="img__product p1">
                <div class="info__product">
                    <p class="title__product">ELLERY X M'O CAPSULE</p>
                    <p class="info__product">Known for her sculptural takes on traditional tailoring, Australian
                        arbiter
                        of cool Kym Ellery teams up with Moda Operandi</p>
                    <p class="price">$52.00</p>
                </div>
            </div>
            <div class="card__product">
                <div class="fon fon__p2">
                    <img src="../static/img/product/product_2.png" alt="img" class="img__product__in__fon">
                </div>
                <div class="info__product">
                    <p class="title__product">ELLERY X M'O CAPSULE</p>
                    <p class="info__product">Known for her sculptural takes on traditional tailoring, Australian
                        arbiter
                        of cool Kym Ellery teams up with Moda Operandi</p>
                    <p class="price">$52.00</p>
                </div>
            </div>
            <div class="card__product">
                <img src="../static/img/product/product_3.png" alt="img" class="img__product p3">

                <div class="info__p">
                    <p class="title__product">ELLERY X M'O CAPSULE</p>
                    <p class="info__product">Known for her sculptural takes on traditional tailoring, Australian
                        arbiter
                        of cool Kym Ellery teams up with Moda Operandi</p>
                    <p class="price">$52.00</p>
                </div>
            </div>
            <div class="card__product">
                <img src="../static/img/product/product_4.png" alt="img" class="img__product p4">
                <div class="info__p">
                    <p class="title__product">ELLERY X M'O CAPSULE</p>
                    <p class="info__product">Known for her sculptural takes on traditional tailoring, Australian
                        arbiter
                        of cool Kym Ellery teams up with Moda Operandi.</p>
                    <p class="price">$52.00</p>
                </div>
            </div>
            <div class="card__product">
                <img src="../static/img/product/product_5.png" alt="img" class="img__product p5">
                <div class="info__p">
                    <p class="title__product">ELLERY X M'O CAPSULE</p>
                    <p class="info__product">Known for her sculptural takes on traditional tailoring, Australian
                        arbiter
                        of cool Kym Ellery teams up with Moda Operandi</p>
                    <p class="price">$52.00</p>
                </div>
            </div>
            <div class="card__product ">
                <img src="../static/img/product/product_6.png" alt="img" class="img__product p6">
                <div class="info__p">
                    <p class="title__product">ELLERY X M'O CAPSULE</p>
                    <p class="info__product">Known for her sculptural takes on traditional tailoring, Australian
                        arbiter
                        of cool Kym Ellery teams up with Moda Operandi</p>
                    <p class="price">$52.00</p>
                </div>
            </div>
        </div>

        <div class="button">
            <button class="button__all__product">
                <span class="text__button">Browse All Product</span>
            </button>
        </div>
    </div>
{% endblock %}